<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marry.mapper.LoginMapper">
	<resultMap id="BaseResultMap" type="com.marry.entity.Login">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, LOGIN_TIME
	</sql>
</mapper>